<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css>
    <link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/components/modal.css>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/semantic.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/components/modal.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href='//fonts.googleapis.com/css?family=Toyzarux' rel='stylesheet'>
    <title></title>
  </head>
  <body>
    <div id="root" class="ui container" style="margin-top:40px">
      <div class="ui container">
          <div class="ui input">
            <input type="text" v-model="letter" placeholder="Letter">
          </div>
          <div class="ui input">
            <input type="text" v-model="frequency" placeholder="Frequency">
          </div>
          <button class="ui blue button" v-on:click="addDataHalaman1($event)">+ add</button>
      </div>
      <br>

      <div class="row">
        <h1>Search Letter</h1>
        <hr>
      </div>
      <div class="ui container">
            <div class="ui input">
              <input v-model="cariLetter" v-on:keyup='searchMulti()' type="text" placeholder="by letter">
            </div>
            <div class="ui input">
              <input v-model="cariFreq" v-on:keyup='searchMulti()' type="text" placeholder="by frequency">
            </div>
      </div>
      <br>
      <div class="ui container">
        <table class="ui striped table">
          <thead>
            <tr>
              <td>#</td>
              <td>Letter</td>
              <td>Frequency</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody v-for="halaman1 in halaman1s">
            <tr>
              <td>#</td>
              <td>{{halaman1.letter}}</td>
              <td>{{halaman1.frequency}}</td>
              <td>
                <button class="ui teal button" v-on:click='getHalaman1(halaman1._id)' onclick="edit()"  >Update</button>
                <button class="ui red button" v-on:click='deleteDataHalaman1(halaman1._id)' >Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="small modal ui segment">
        <div class="header">Update Data</div>
        <div class="ui form">
            <div class="field">
              <input v-model="get.letter"type="text" placeholder="Letter">
            </div>
            <br>
            <div class="field">
              <input v-model="get.frequency" type="text" placeholder="Frequency">
            </div>
        </div>
        <div class="actions">
          <div v-on:click='updateDataHalaman1(get._id)' onclick="tutupedit()" class="ui teal button">Submit</div>
        </div>
      </div>




    </div>
  </body>
  <script type="text/javascript">
    function edit(){
      $('.small.modal').modal('show');
    };
    function tutupedit(){
      $('.small.modal').modal('hide');
    };
  </script>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <script type="text/javascript">
    var app = new Vue({
      el: '#root',
      data: {
        cariLetter: '',
        cariFreq: '',
        letter:'',
        frequency:'',
        get: {
          _id:'',
          letter:'',
          frequency:''
        },
        halaman1s: []
      },
      methods: {
        loadHalaman1: function() {
          $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/dataujian',
            success: function (data) {
              console.log(data);
              app.halaman1s = data

            }
          })
        },

        getHalaman1: function(id) {
          $.ajax({
            type: 'GET',
            url: `http://localhost:3000/dataujian/${id}`,
            success: function (data) {
              app.get._id = data._id
              app.get.letter = data.letter
              app.get.frequency = data.frequency
            }
          })
        },

        searchMulti: function() {
          $.ajax({
            type: 'GET',
            url: `http://localhost:3000/dataujian/multiSearch?letter=${app.cariLetter}&freq=${app.cariFreq}`,
            success: function (data) {
              app.halaman1s = data
            }
          })
        },

        addDataHalaman1: function(event) {
          if (event) event.preventDefault()
          $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/dataujian',
            data : {
              letter: app.letter,
              frequency: app.frequency
            },
            success: function (data) {
              app.letter= ''
              app.frequency= ''
              app.halaman1s.unshift(data)

            }
          })
        },

        deleteDataHalaman1: function (ccc) {
          $.ajax({
            type: 'DELETE',
            url: 'http://localhost:3000/dataujian/'+ccc,
            success: function (data) {
              alert('Data berhasil dihapus')
              app.loadHalaman1();
              // alert('Data berhasil dihapus')
            },
            error: function (err) {
              console.log(err)
            }
          })
        },

        updateDataHalaman1: function(xxx){
          $.ajax({
            url: `http://localhost:3000/dataujian/${xxx}`,
            type: 'PUT',
            data: {
              letter: app.get.letter,
              frequency: app.get.frequency
            },
            success: function(data) {
              app.loadHalaman1()
            }
          })
        },
      }
    })

    app.loadHalaman1();
  </script>

</html>
